.container{
    width: 500px;
    height: 400px;
    background-color: blue;
    border: 2px solid black;
}
.box{
    width: 100px;
    height: 100px ;
    background-color: red;
    border: 1px solid black;
    animation : u-shape   1s alternate  ease-in;
}

.container:hover .box{
    animation-play-state: paused;
}

@keyframes u-shape {
    0%{
        transform: translateX(0px);
    }
    33%{
        transform: translateY(300px);
    }
    66%{
        transform: translate(400px,300px);
    }
    100%{
        transform: translateX(400px);
    }
}

.box2{
    width: 100px;
    height: 100px ;
    border: 2px solid black;
    transform: translate(200px,195px);
}