.box{
    background-color: red;
    width: 100px;
    color: white;
    /* transform: translateY(50px);
    transform: translate(50px,50px);
    transform: scaleX(2);
    transform: scaleY(5);
    transform: scale(1,5);
    transform: skew(270deg);   */
    
}

.box:hover{
    background-color: green;
    transform: translateX(500px);
    transition: transform  2s ease-in  ;
}